.navbar {
  background-image: linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url("sky.jpg");
  background-size: cover;
}

nav.navbar {
  /* margin-bottom: 0; */
  margin-bottom: 2%;
}
